<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA1E1F821A8C46080067C991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA1E1F8D1A8C46090067C991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAEAA8811B167A8600F7AA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAEAA88B1B167A8700F7AA98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EAF894731B053E0400EDAD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
